h1 {
	color: blue;
	background-color: black;
	font-family: Times New Roman, Arial, sans-serif;
	font-size: 70px;
}
h2{
	background-color: #B8B8B8;
	font-size: 27px;
	font-variant: small-caps;
}
p.cursiva {
	font-style: italic;
	font-size: 20px;
	font-weight: bold;
}
p.right {
	text-align: right;
	font-weight: bold;
	background-color: #1E97AE;
	font-size: 16px;
	font-variant: small-caps;
}
span.super {
	vertical-align: super;
	font-variant: small-caps;
}
p.form {
	font-variant: small-caps;
	font-weight: bold;
	font-size: 28px;
	text-decoration: underline;
}
.submit {
	background-color: black;
	color: #1E97AE;
	border: 2px outset #1E97AE;
    border-radius: 4px;
	width: 100px;
	height: 28px;
}
.cubo {
	width: 180px;
	height: 34px;
	background-color: black;
	color: white;
	
}
p.resalto {
	text-decoration: underline;
}
p.datos {
	text-decoration: underline;
}

